* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  color: #333;
  max-width: 1200px;
  margin: 3rem auto;
  min-height: calc(100vh - 250px);
}